;;; private.el.example --- Example for private configurations -*- lexical-binding: t -*-

;;; Commentary:
;;
;; This file is for your private configurations and secrets, like API tokens.
;;
;; To use it:
;; 1. Copy this file to `private.el` in the same directory (`lisp/`).
;; 2. Uncomment and fill in the variables with your actual secrets.
;; 3. Make sure `private.el` is listed in your `.gitignore` file so it's NOT
;;    committed to version control.
;;

;;; Code:

;; Example for the Genius API token for the `lyrics-fetcher` package
;; (setq lyrics-fetcher-genius-access-token "YOUR_TOKEN_HERE")


(provide 'private)

;;; private.el.example ends here
